/* .App {
  text-align: center;
} */

body {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap
}

main {
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.navbar {
  background-color: rgb(178, 189, 243);
  display: flex;
  justify-content: space-around;
}

.Header {
  background-color: rgb(178, 189, 243);
  text-align: center
    /* display: flex; */
    /* align-content: center; */
}