/* .App {
  text-align: center;
} */
/* @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* html {
  /* font-size: 1.5rem; */
/* font-family: 'Nunito", sans-serif;' */
/* } */

body {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  background-image: url('https://i.imgur.com/DGtkjXz.jpg');
  background-size: cover;
}



.RoutesApp {
  background-color: rgb(72, 139, 255);
  margin: 10vh 40vw 0px 35vw;
  height: 50vh;
  width: 40vw;
  flex-grow: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding: 20px 0 0 0;
  align-items: center;
  gap: 1rem;
  border: 2px solid black;
  box-shadow: 5px 10px 18px #888888;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-image: url('https://i.imgur.com/VN7j1zE.jpg');
  background-size: cover;
}

.Header {
  background-color: rgb(102, 200, 238);
  text-align: center;
  display: flex;
  align-content: center;
  color: white;
  padding: 10px 0 0 20px;
  border-bottom: 2px solid rgb(0, 0, 0);
  /* justify-content: space-between; */
}


.navbar {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin: 0 0 0 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navPatientsList {
  margin: 10px 0px 0 0;
  background-color: rgb(38, 168, 224);
  display: flex;
  max-width: 50vh;
  border: 2px solid rgb(38, 168, 224);
  border-width: 15px;
  /* border-radius: 30px; */
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  /* margin: 1px; */
  transition: .20s;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.navPatientsList:hover {

  transform: scale(1.06);
}

.navPatientsList:hover~.navPatientsList {
  transform: translateY(30px);
}

.navAddPatient {
  margin: 0 20px 0 0;
  display: flex;
  max-width: 50vh;
  background-color: rgb(208, 38, 224);
  border: 2px solid rgb(208, 38, 224);
  border-width: 15px;
  /* border-radius: 20px; */
  /* margin: 6px; */
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  transition: .20s;
  align-items: center;
  justify-content: center;
}

.navAddPatient:hover {

  transform: scale(1.06);
}

.navAddPatient:hover~.navAddPatient {
  transform: translateY(30px);
}

.patient {
  border-bottom: 2px solid rgb(155, 155, 155);
  box-shadow: 5px 5px 2px #dedbdb;
}

/* .patient:hover {
  transform: scale(1.03);
}

.patient:hover~.patient {
  transform: translateY(30px);
} */

.PatientName {
  margin: 8px;
}

.patientList {
  /* background-color: rgb(178, 189, 243); */
  font-size: 20px;
  padding: 2vh 2vw;
  width: 25vw;
  height: 45vh;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
}

.list {
  overflow-y: auto;
  max-height: 200px;
  margin: 3vh 0vw;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* border: 2px solid black; */
  background-color: rgb(131, 214, 250);

  /* text-decoration: none;
  text-decoration-style: none; */
}

.patient a {
  text-decoration: none
}

/* div {
  /* width: 200px;
  height: 200px; */
/* border: 1px solid black; */
/* display: grid; */
/* place-content: center; */
/* font-size: 20px; */
/* } */

/* div :nth-child(2) {
  background-color: blue;
} */

/* .navbar {
  background-color: rgb(178, 189, 243);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}*/

.NewPatient {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 13vh 0 0 0;
  width: 20vw;
}

.newPatientForm {
  margin: 2vh 0 0 0;
  width: 20vw;
  text-align: center;
  /* display: flex;
  flex-direction: column; */
}

/* .newInputSubmit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.newPatientInput {
  font-size: 19px;
  border: 2px solid black;
  box-shadow: 5px 10px 18px #888888;
  width: 20vw;
  text-align: center;
}

.newPatientButton {
  font-size: 18px;
  margin: 2vh 0 0 0;
  border: 2px solid black;
  padding: 2px;
  box-shadow: 5px 10px 18px #888888;
  text-align: center;

}

.newPatientButton:hover {

  transform: scale(1.06);
}

.newPatientButton:hover~.newPatientButton {
  transform: translateY(30px);
}

.medications {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1vh 0 0 0;
  width: 35vw;
  text-align: center;
  /* border: 2px solid black; */
}


.medicationsMap {
  overflow-y: auto;
  max-height: 250px;
  /* background-color: purple; */
  display: flex;
  flex-direction: column;
  text-align: left;
}

.newMedicationButton {
  font-size: 14px;
  margin: 1vh 0 1vh 0;
  border: 2px solid black;
  padding: 3px;
  box-shadow: 5px 10px 18px #888888;
  text-align: center;
}

.newMedicationButton:hover {
  transform: scale(1.06);
}

.newMedicationButton:hover~.newMedicationButton {
  transform: translateY(30px);
}

.medicationName {
  font-style: italic;
}

.medicationNameButton {
  display: flex;
  flex-direction: row;
  padding: 2px
}

.updateMedicationButton {
  margin: 0 1vw 0 2vw;
  padding: 2px;
  box-shadow: 5px 10px 18px #8ae9f4;
  border: 1px solid black;
}

.updateMedicationButton:hover {
  transform: scale(1.06);
}

.updateMedicationButton:hover~.updateMedicationButton {
  transform: translateY(30px);
}

.delete {
  font-size: 18px;
}

.delete:hover {
  transform: scale(1.20);
}

.delete:hover~.delete {
  transform: translateY(30px);
}

.medicationsSingle {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 15px;
  padding: 15px;
  box-shadow: 5px 10px 18px #6faae2;
}

.medicationsSingle:hover {

  transform: scale(1.06);
}

.medicationsSingle:hover~.medicationsSingle {
  transform: translateY(30px);
}

.NewMedication {
  text-align: center;
  width: 38vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.medicationForm {
  width: 30vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newMedicationSubmit {
  margin: 1vh 0 0 0;
  font-size: 16px;
  border: 2px solid black;
  padding: 2px;
}

.newMedicationSubmit:hover {

  transform: scale(1.06);
}

.newMedicationSubmit:hover~.newMedicationSubmit {
  transform: translateY(30px);
}

.medicationForm label {
  font-size: 20px;
}

.newMedicationName,
.newMedicationDose,
.newMedicationPrescription {
  font-style: italic;
  font-size: 17px;
}

.newMedicationTitle {
  text-decoration: underline;
  font-size: 25px;
}

.newMedicationName {
  margin: 0 0 2vh 0;
  border: 2px solid rgb(0, 0, 0);
}

.newMedicationDose {
  margin: 0 0 2vh 0;
  border: 2px solid rgb(0, 0, 0);
}

.newMedicationPrescription {
  margin: 0 0 2vh 0;
  border: 2px solid rgb(0, 0, 0);
}

.updateMedication {
  text-align: center;
  width: 38vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.updateMedicationForm {
  width: 30vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.updateMeds {
  width: 18vw;
  /* height: 20vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.updateMedicationName,
.updateMedicationDose,
.updateMedicationPrescription {
  font-size: 16px;
}

.updateMeds label {
  font-size: 18px;
}

.updateTitle {
  text-decoration: underline;
  font-size: 25px;
}

.updateMedicationName {
  margin: 0 0 2vh 0;
  border: 2px solid rgb(0, 0, 0);
}

.updateMedicationDose {
  margin: 0 0 2vh 0;
  border: 2px solid rgb(0, 0, 0);
}

.updateMedicationPrescription {
  margin: 0 0 2vh 0;
  border: 2px solid rgb(0, 0, 0);
}

.updateMedicationSubmit {
  margin: 1vh 0 0 0;
  font-size: 16px;
  border: 2px solid black;
  padding: 2px;
}

.updateMedicationSubmit:hover {

  transform: scale(1.06);
}

.updateMedicationSubmit:hover~.updateMedicationSubmit {
  transform: translateY(30px);
}